@{
  //Home last 20-12-2019
  ViewData["Title"] = "Home Page Master";
}
<div class="row">
  <div class="col-lg-5">
    <div class="alert alert-primary" role="alert">
      Precio de venta promedio Medio
      <a href="#" id="minAmountAbout" class="alert-link">@ViewBag.sellVe</a> Venezuela.
    </div>
  </div>
  <div class="col-lg-2">
    <button type="button" onclick="exchangeRates.clearSession()" class="btn btn-block btn-primary">Limpiar venta</button>
    <button type="button" onclick="exchangeRates.hideGain()" class="btn btn-block btn-ghost-info showRate">Publicar tasas</button>
    <button type="button" onclick="exchangeRates.showGain()" class="btn btn-block btn-ghost-warning showGain" style="display:none">Ganancias</button>
  </div>
  <div class="col-lg-5">
    <div class="alert alert-danger" role="alert">
      Precio de venta promedio Alto
      <a href="#" id="maxAmountAbout" class="alert-link">@ViewBag.sellVeHigh</a> Venezuela.
    </div>
  </div>
  <div class="col-sm-4 col-lg-3">
    <div class="card text-white bg-info">
      <div class="card-body pb-0">
        <button id="refreshCO" onclick="exchangeRates.showCountryRate('CO', 'transfers-with-specific-bank', 'COP', $('#valueGainCO').val(), 'rateCOVE', true)" type="button" class="btn btn-transparent p-0 float-right">
          <i class="fa fa-refresh fa-lg"></i>
        </button>
        <div class="text-value">Colombia</div>
        <div class="row">
          <div class="col-3">
            <i class="flag-icon flag-icon-co h1" title="co" id="co"></i>
          </div>
          <div class="col-9">
            <div>Tasa Alta</div>
            <div id="rateCOVEH" class="text-value"></div>
          </div>
        </div>
        <div class="rate-gain">
          <div>Tasa </div>
          <div id="rateCOVE" class="text-value"></div>
          <input max="20" min="0" step="1" class="form-control form-control-sm " type="number" style="width:50%" id="valueGainCO" value="13">
        </div>
        <div id="rateCOVELoader" class="progress" style="display:none;position: absolute;width: 75%;top: 50%;left: 10%;">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 70%"></div>
        </div>
        <div>Tasa cambio</div>
        <div id="rateCOVEG" class="text-value"></div>
      </div>
    </div>
  </div>
  <!--/.col-->
  <div class="col-sm-4 col-lg-3">
    <div class="card text-white bg-info">
      <div class="card-body pb-0">
        <button id="refreshPE" onclick="exchangeRates.showCountryRate('PE', 'transfers-with-specific-bank', 'PEN', $('#valueGainPE').val(), 'ratePEVE')" type="button" class="btn btn-transparent p-0 float-right">
          <i class="fa fa-refresh fa-lg"></i>
        </button>
        <div class="text-value">Peru</div>
        <div class="row">
          <div class="col-3">
            <i class="flag-icon flag-icon-pe h1" title="pe" id="pe"></i>
          </div>
          <div class="col-9">
            <div>Tasa Alta</div>
            <div id="ratePEVEH" class="text-value"></div>
          </div>
        </div>
        <div class="rate-gain">
          <div>Tasa </div>
          <div id="ratePEVE" class="text-value"></div>
          <input class="form-control form-control-sm " type="number" style="width:50%" id="valueGainPE" max="20" min="0" step="1" value="6">
        </div>
        <div id="ratePEVELoader" class="progress" style="display:none;position: absolute;width: 75%;top: 50%;left: 10%;">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 70%"></div>
        </div>
        <div>Tasa cambio</div>
        <div id="ratePEVEG" class="text-value"></div>
      </div>
    </div>
  </div>
  <!--/.col-->
  <div class="col-sm-4 col-lg-3">
    <div class="card text-white bg-info">
      <div class="card-body pb-0">
        <button id="refreshPEU" onclick="exchangeRates.showCountryRate('PE', 'transfers-with-specific-bank', 'USD', $('#valueGainPEU').val(), 'ratePEUVE')" type="button" class="btn btn-transparent p-0 float-right">
          <i class="fa fa-refresh fa-lg"></i>
        </button>
        <div class="text-value">Peru Dolar</div>
        <div class="row">
          <div class="col-3">
            <i class="flag-icon flag-icon-pe h1" title="pe" id="pe"></i>
          </div>
          <div class="col-9">
            <div>Tasa Alta</div>
            <div id="ratePEUVEH" class="text-value"></div>
          </div>
        </div>
        <div class="rate-gain">
          <div>Tasa </div>
          <div id="ratePEUVE" class="text-value"></div>
          <input class="form-control form-control-sm " type="number" style="width:50%" id="valueGainPEU" max="20" min="0" step="1" value="5.5">
        </div>
        <div id="ratePEUVELoader" class="progress" style="display:none;position: absolute;width: 75%;top: 50%;left: 10%;">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 70%"></div>
        </div>
        <div>Tasa cambio</div>
        <div id="ratePEUVEG" class="text-value"></div>

      </div>
    </div>
  </div>
  <!--/.col-->
  <div class="col-sm-4 col-lg-3">
    <div class="card text-white bg-info">
      <div class="card-body pb-0">
        <button id="refreshDO" onclick="exchangeRates.showCountryRate('DO', 'transfers-with-specific-bank', 'DOP', $('#valueGainDO').val(), 'rateDOVE')" type="button" class="btn btn-transparent p-0 float-right">
          <i class="fa fa-refresh fa-lg"></i>
        </button>
        <div class="text-value">R. Dominicana</div>
        <div class="row">
          <div class="col-3">
            <i class="flag-icon flag-icon-do h1" title="do" id="do"></i>
          </div>
          <div class="col-9">
            <div>Tasa Alta</div>
            <div id="rateDOVEH" class="text-value"></div>
          </div>
        </div>
        <div class="rate-gain">
          <div>Tasa </div>
          <div id="rateDOVE" class="text-value"></div>
          <input class="form-control form-control-sm " type="number" style="width:50%" id="valueGainDO" max="20" min="1" step="1" value="6">
        </div>
        <div id="rateDOVELoader" class="progress" style="display:none;position: absolute;width: 75%;top: 50%;left: 10%;">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 70%"></div>
        </div>
        <div>Tasa cambio</div>
        <div id="rateDOVEG" class="text-value"></div>

      </div>
    </div>
  </div>
  <!--/.col-->
  <div class="col-sm-4 col-lg-3">
    <div class="card text-white bg-info">
      <div class="card-body pb-0">
        <button id="refreshCL" onclick="exchangeRates.showCountryRate('CL', 'national-bank-transfer', 'CLP', $('#valueGainCL').val(), 'rateCLVE', false)" type="button" class="btn btn-transparent p-0 float-right">
          <i class="fa fa-refresh fa-lg"></i>
        </button>
        <div class="text-value">Chile</div>
        <div class="row">
          <div class="col-3">
            <i class="flag-icon flag-icon-cl h1" title="cl" id="cl"></i>
          </div>
          <div class="col-9">
            <div>Tasa Alta</div>
            <div id="rateCLVEH" class="text-value"></div>
          </div>
        </div>
        <div class="rate-gain">
          <div>Tasa </div>
          <div id="rateCLVE" class="text-value"></div>
          <input class="form-control form-control-sm " type="number" style="width:50%" id="valueGainCL" max="20" min="0" step="1" value="5">
        </div>
        <div>Tasa cambio</div>
        <div id="rateCLVELoader" class="progress" style="display:none;position: absolute;width: 75%;top: 50%;left: 10%;">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 70%"></div>
        </div>
        <div id="rateCLVEG" class="text-value"></div>

      </div>
    </div>
  </div>
  <!--/.col-->
  <div class="col-sm-4 col-lg-3">
    <div class="card text-white bg-info">
      <div class="card-body pb-0">
        <button id="refreshMX" onclick="exchangeRates.showCountryRate('MX', 'cash-deposit', 'MXN', $('#valueGainMX').val(), 'rateMXVE')" type="button" class="btn btn-transparent p-0 float-right">
          <i class="fa fa-refresh fa-lg"></i>
        </button>
        <div class="text-value">Mexico</div>
        <div class="row">
          <div class="col-3">
            <i class="flag-icon flag-icon-mx h1" title="mx" id="mx"></i>
          </div>
          <div class="col-9">
            <div>Tasa Alta</div>
            <div id="rateMXVEH" class="text-value"></div>
          </div>
        </div>
        <div class="rate-gain">
          <div>Tasa </div>
          <div id="rateMXVE" class="text-value"></div>
          <input class="form-control form-control-sm " type="number" style="width:50%" id="valueGainMX" max="20" min="0" step="1" value="9">
        </div>
        <div id="rateMXVELoader" class="progress" style="display:none;position: absolute;width: 75%;top: 50%;left: 10%;">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 70%"></div>
        </div>
        <div>Tasa cambio</div>
        <div id="rateMXVEG" class="text-value"></div>

      </div>
    </div>
  </div>
  
  <!--/.col-->
  <div class="col-sm-4 col-lg-3">
    <div class="card text-white bg-info">
      <div class="card-body pb-0">
        <button id="refreshEC" onclick="exchangeRates.showCountryRate('EC', 'national-bank-transfer', 'USD', $('#valueGainEC').val(), 'rateECVE')" type="button" class="btn btn-transparent p-0 float-right">
          <i class="fa fa-refresh fa-lg"></i>
        </button>
        <div class="text-value">Ecuador</div>
        <div class="row">
          <div class="col-3">
            <i class="flag-icon flag-icon-ec h1" title="ec" id="ec"></i>
          </div>
          <div class="col-9">
            <div>Tasa Alta</div>
            <div id="rateECVEH" class="text-value"></div>
          </div>
        </div>
        <div class="rate-gain">
          <div>Tasa </div>
          <div id="rateECVE" class="text-value"></div>
          <input class="form-control form-control-sm " type="number" style="width:50%" id="valueGainEC" max="20" min="0" step="1" value="6">
        </div>
        <div id="rateECVELoader" class="progress" style="display:none;position: absolute;width: 75%;top: 50%;left: 10%;">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 70%"></div>
        </div>
        <div>Tasa cambio</div>
        <div id="rateECVEG" class="text-value"></div>

      </div>
    </div>
  </div>
  <!--/.col-->
  <div class="col-sm-4 col-lg-3">
    <div class="card text-white bg-info">
      <div class="card-body pb-0">
        <button id="refreshES" onclick="exchangeRates.showCountryRate('ES', 'transfers-with-specific-bank', 'EUR', $('#valueGainES').val(), 'rateESVE')" type="button" class="btn btn-transparent p-0 float-right">
          <i class="fa fa-refresh fa-lg"></i>
        </button>
        <div class="text-value">Spain</div>
        <div class="row">
          <div class="col-3">
            <i class="flag-icon flag-icon-es h1" title="es" id="es"></i>
          </div>
          <div class="col-9">
            <div>Tasa Alta</div>
            <div id="rateESVEH" class="text-value"></div>
          </div>
        </div>
        <div class="rate-gain">
          <div>Tasa </div>
          <div id="rateESVE" class="text-value"></div>
          <input class="form-control form-control-sm " type="number" style="width:50%" id="valueGainES" max="20" min="1" step="0" value="7">
        </div>
        <div id="rateESVELoader" class="progress" style="display:none;position: absolute;width: 75%;top: 50%;left: 10%;">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 70%"></div>
        </div>
        <div>Tasa cambio</div>
        <div id="rateESVEG" class="text-value"></div>

      </div>
    </div>
  </div>
  <!--/.col-->
  <div class="col-sm-4 col-lg-3">
    <div class="card text-white bg-info">
      <div class="card-body pb-0">
        <button id="refreshAR" onclick="exchangeRates.showCountryRate('AR', 'transfers-with-specific-bank', 'ARS', $('#valueGainAR').val(), 'rateARVE')" type="button" class="btn btn-transparent p-0 float-right">
          <i class="fa fa-refresh fa-lg"></i>
        </button>
        <div class="text-value">Argentina</div>
        <div class="row">
          <div class="col-3">
            <i class="flag-icon flag-icon-ar h1" title="ar" id="ar"></i>
          </div>
          <div class="col-9">
            <div>Tasa Alta</div>
            <div id="rateARVEH" class="text-value"></div>
          </div>
        </div>
        <div class="rate-gain">
          <div>Tasa </div>
          <div id="rateARVE" class="text-value"></div>
          <input class="form-control form-control-sm " type="number" style="width:50%" id="valueGainAR" max="20" min="0" step="1" value="9">
        </div>
        <div id="rateARVELoader" class="progress" style="display:none;position: absolute;width: 75%;top: 50%;left: 10%;">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 70%"></div>
        </div>
        <div>Tasa cambio</div>
        <div id="rateARVEG" class="text-value"></div>

      </div>
    </div>
  </div>
  <!--/.col-->
</div>
<!--/.row-->
@section Scripts {
  <script src="~/js/App/sellCountries.js"></script>
  <script>
    $(document).ready(function () {
      exchangeRates.hideGain()
      console.log("ready!");
    });
  </script>
}


