@using NonFactors.Mvc.Grid;
@using GECApi.Entities;
@using System.Globalization;
@{
  ViewData["Title"] = "Remesas";
}


<h2>Remesas</h2>
<div class="container">
  <div class="row">
    <div class="form-group col-sm-4">
      <select class="form-control" id="pais" name="pais">
        <option>COLOMBIA</option>
        <option>CHILE</option>
        <option>ECUADOR</option>
        <option>PANAMA</option>
        <option>PERU</option>
        <option>R. DOMINICANA</option>
        <option>MEXICO</option>
        <option>ARGENTINA</option>
        <option>ESPAÑA</option>
      </select>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>

    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <!-- Primera fila -->
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="col-form-label">Cantidad Bitcoin</label>
                <input type="number" min="1" max="9" id="cantidadBtc" required placeholder="0.00000001" class="form-control" />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="col-form-label">Monto Remesa</label>
                <input type="number" min="1" id="montoRemesas" required placeholder="0.01" class="form-control" />
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label class="col-form-label">Monto Total</label>
                <input type="number" min="1" id="montoTotal" required placeholder="99999Bs" disabled class="form-control" />
              </div>
            </div>
          </div>
          <!-- Fin de la Primera fila -->
          <!-- Segunda fila -->
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label class="form-label">Tasas Ventas Bitcoin</label>
                <input type="number" min="1" id="tasasVentasBtc" required placeholder="0.01" class="form-control" />
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label class="col-form-label">Tasas Remesa</label>
                <input type="number" min="1" id="tasasRemesas" required placeholder="0.01" class="form-control" />
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label class="col-form-label">Monto Entrega</label>
                <input type="number" min="1" id="montoEntrega" placeholder="99999Bs" disabled class="form-control" />
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label class="col-form-label">Ganancia Empresa</label>
                <input type="number" min="1" id="gananciaNeta" placeholder="99999Bs" disabled class="form-control" />
              </div>
            </div>
          </div>
          <!-- Fin de la Primera fila -->
          <!-- Segunda fila -->
          <div class="row">
            <div class="col-sm-4">
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label class="form-text text-center"> Existe Contacto</label>
                <input type="checkbox" id="contacto" class="form-control" />
              </div>
            </div>

            <div class="col-sm-4">
            </div>
          </div>

          <!-- Fin de la Segunda fila -->
          <!-- Tercera fila -->

          <div class="row" id="estadoContacto">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="col-form-label">Ganancia Contacto</label>
                <input type="number" min="1" id="gananciaC" placeholder="99999Bs" disabled class="form-control" />
              </div>
            </div>


            <div class="col-sm-4">
              <div class="form-group">
                <label class="col-form-label">Ganancia Enlace</label>
                <input type="number" min="1" id="gananciaE" placeholder="99999Bs" disabled class="form-control" />
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label class="col-form-label">Ganancia GEC</label>
                <input type="number" min="1" id="gananciaGEC" placeholder="99999Bs" disabled class="form-control" />
              </div>
            </div>
          </div>

          <!-- Fin de la Tercera fila -->
          <!-- Cuarta fila -->
        </div>
      </div>

      <div>
        <input type="button" class="btn btn-lg btn-danger float-right" value="Cancelar" id="botonCancel" onclick="Cancelremittances()" />
        <input type="button" class="btn btn-lg btn-success float-right" value="Guardar" id="botonGuardar" onclick="saveRemittances()" />
      </div>
      <!--Mensaje de Error y fin del Card-->
      <div class="row">
        <divv class="col-sm-12">
          <div id="mensajeError"></div>
        </divv>
      </div>
    </div>
  </div>
</div>

<!--Tabla de datos de Remesas-->

<div class="container mt-5">
  <div class="row">
    <div class="col-md-5">
      <div class="col-md-9 col-form-label">
        <div class="form-check form-check-inline mr-1">
          <input class="form-check-input" type="radio" name="eleccionFiltro" id="filtrofecha" onchange="myselectfilterDate()" checked>
          <label class="form-check-label" for="eleccionFiltro">Fecha</label>
        </div>
        <div class="form-check form-check-inline mr-1">
          <input class="form-check-input" type="radio" name="eleccionFiltro" id="filtroPais" onchange="myselectfilterContry()">
          <label class="form-check-label" for="eleccionFiltro">Pais</label>
        </div>
      </div>
    </div>

    <div class="col-sm-7">
      <div class="input-group" id="contenedorBusqueda">
        <span class="input-group-prepend">
          <button type="button" name="botonBuscar" id="botonBuscar" class="btn btn-primary" onclick="look()">
            <i class="fa fa-search"></i> Search
          </button>
        </span>

          <input type="text" disabled value="Remesas desde:" class="form-control" />
        <div class="form-group">
          <input id="midatepicker" type="date" name="midatepicker" class="form-control" />
        </div>

          <input type="text" disabled value="Hasta:" class="form-control fechaFinal" />
        <div class="form-group">
          <input id="otroDia" type="date" name="otroDia" class="form-control" />
        </div>
      </div>
        
      
       
      
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <table class="table table-responsive-sm table-striped">
        <thead class="">
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Pais</th>
            <th scope="col">Ganancia GEC</th>
            <th scope="col">Ganancia Enlace</th>
            <th scope="col">Ganancia Contacto</th>
            <th scope="col">Monto Entrega</th>
            <th scope="col">Ganancia</th>
            <th scope="col">Monto Total</th>
          </tr>
        </thead>
        <tbody id="datosTabla"></tbody>
      </table>
    </div>

    <div class="col-sm-12">
      <div id="errorFiltro"></div>
    </div>
  </div>
</div>




@section Scripts {

  <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-firestore.js"></script>

  <script src="~/js/App/consigment/crudFirebase.js"></script>
  <script src="~/js/App/consigment/consignmentFirebase.js"></script>

  <script src="~/js/App/consigment/startFirebase.js"></script>
}

